@model SmallPrograms.Areas.DataMining.ViewModels.KMeansResultViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "KMeansResult";
}

<h2>Wynik algorytmu k-means</h2>
@Html.ActionLink("Podaj dane jeszcze raz", "KMeans", "Programs")<br /><br />

<div>
    <h4>Wynik</h4>
    Liczba iteracji: @Model.NumberOfIterations <br />
    <table class="table-bordered" style="display:inline-table">
        <caption>Punkty</caption>
        <tr>
            <th>Grupa</th>
            <th colspan="@Model.OutputPointList[0].Coordinate.Length">Punkt</th>
        </tr>
        @for (int row = 0; row < Model.OutputPointList.Count; row++)
            {
            <tr>
                <td>@Model.OutputPointList[row].Group</td>
                @for (int column = 0; column < Model.OutputPointList[row].Coordinate.Length; column++)
                {
                    <td>
                        @Model.OutputPointList[row].Coordinate[column]
                    </td>
                }
            </tr>
        }
    </table>
    <tab></tab>
    <table class="table-bordered" style="display:inline-table">
        <caption>Centroidy</caption>
        <tr>
            <th>Nr grupy</th>
            <th colspan="@Model.OutputPointList[0].Coordinate.Length">Punkt</th>
        </tr>
        @for (int row = 0; row < Model.OutputCentroidList.Count; row++)
            {
            <tr>
                <td>@Model.OutputCentroidList[row].GroupNumber</td>
                @for (int column = 0; column < Model.OutputCentroidList[row].Coordinate.Length; column++)
                {
                    <td>
                        @Model.OutputCentroidList[row].Coordinate[column]
                    </td>
                }
            </tr>
        }
    </table>
</div>
<br /><br />
<div>
    <h4>Dane wejściowe</h4>
    <table class="table-bordered" style="display:inline-table">
        <caption>Punkty</caption>
        @for (int row = 0; row < Model.InputPointList.Count; row++)
            {
            <tr>
                @for (int column = 0; column < Model.InputPointList[row].Coordinate.Length; column++)
                {
                    <td>
                        @Model.InputPointList[row].Coordinate[column]
                    </td>
                }
            </tr>
        }
    </table>
    <tab></tab>
    <table class="table-bordered" style="display:inline-table">
        <caption>Centroidy</caption>
        @for (int row = 0; row < Model.InputCentroidList.Count; row++)
            {
            <tr>
                @for (int column = 0; column < Model.InputCentroidList[row].Coordinate.Length; column++)
                {
                    <td>
                        @Model.InputCentroidList[row].Coordinate[column]
                    </td>
                }
            </tr>
        }
    </table>
</div>