@model SmallPrograms.Areas.AdvancedMethodsOfInformationProtection.ViewModels.DESViewModel
@{
    ViewBag.Title = "DES";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Algorytm DES</h2>

@using(Html.BeginForm("DES", "Programs", new { area = "AdvancedMethodsOfInformationProtection" }, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <h4>Tekst</h4>
    @Html.TextAreaFor(m => m.Text)<br />
    @Html.RadioButton("TextFormat", "binary", true)<span>Dwójkowy</span>
    @Html.RadioButton("TextFormat", "hex")<span>Szesnastkowy</span>
    <br /><br />

    <h4>Klucz</h4>
    @Html.TextBoxFor(m => m.Key)<br />
    @Html.RadioButton("KeyFormat", "binary", true)<span>Dwójkowy</span>
    @Html.RadioButton("KeyFormat", "hex")<span>Szesnastkowy</span>
    <br /><br />

    <input type="submit" name="btnSubmit" value="Szyfruj" />
    <input type="submit" name="btnSubmit" value="Deszyfruj" />
}

<br /><br />

<div id="DESResult" style="display:@Model.DisplayDESResult">
    @Html.LabelFor(m => m.DESResultBinary)
    @Html.DisplayFor(m => m.DESResultBinary)<br />
    @Html.LabelFor(m => m.DESResultHex)
    @Html.DisplayFor(m => m.DESResultHex)
</div>